@media only screen and (min-width: 875px) {
    .main {
        flex-direction: row;
        width: unset;
        max-width: 800px;
        align-items: center;
        padding-bottom: 0;
        background-image: url(./images/bg-pattern-desktop.svg);
        background-position: -574px -323px;
        background-repeat: no-repeat;
    }

    .illustration {
        position: relative;
        content: url(./images/illustration-woman-online-desktop.svg);
        width: 390px;
        height: 358px;
        z-index: 9;
        object-fit: cover;
        object-position: right;
        filter: none;
    }

    .box {
        display: flex;
        position: absolute;
        top: 137px;
        right: 298px;
        height: 180px;
        width: 180px;
        z-index: 10;
        filter: none;
    }


    .main > .images {
        display: flex;
        margin: 0;
        position: relative;
    }
    h1 {
        text-align: left;
        margin-left: 20px;
    }

    .QandA {
        padding: 30px 40px;
    }
}